spring:
  config:
    import:
      - application-common-client.yml
      - application-kakao-client.yml
  profiles:
    active: local
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:bsdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true